:root{
    --branco-principal: #FFFFFF;
    --cinza-secundário: #C0C0C0;
    --botão-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter';
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-weight: 400;
}

*{
    margin: 0px;
    padding: 0px;
}

.principal{
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 240px;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao:hover{
    background-color: #ffffffc1;
    color: #00030C;
}

.container__botao{
    background-color: var(--botão-azul);
    border-radius: 12px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.botao_secundario{
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso{
    font-size: 12px;
    color: var(--cinza-secundário);
}

.container__titulo{
    font-size: 30px;
    font-weight: 700;
}

.container__imagem{
    margin: 1em 0 2en 0;
    padding: 30px;
}

.container__caixa{
    margin: 0 11em;
}

.secundario__imagem{
    width: 80%;
    padding-left: 150px;
}

.descricao__titulo{
    font-size: 60px;
    margin: 350px 200px 0 0;
}

.descricao__paragrafo{
    color: var(--cinza-secundário);
    padding-top: 10px;
}

.secundario__botao{
    display: inline-block;
}

.container__descricao{
    padding-left: 50px;
}

.descricao__texto2{
    padding-bottom: 40px;
}

.container__descricao2{
    padding-left: 50px;
    font-size: 20px;
    padding-top: 140px;
}

.secundario__imagem2{
    width: 80%;
}

.container3{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 300px;
}

.container4{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.imagem4{
    width: 700px;
    padding-left: 100px;
}

.titulonotebook{
    font-size: 70px
}

.descricao__notebook{
    padding-top: 10px;
    font-size: 20px
}

.container5{
    text-align: center;
    margin-top: -200px;
    margin-bottom: 200px;
}

.div5{
    grid-template-columns: 33% 33% 33%;
    display: grid;
    font-weight: bolder;
    font-size: 40px;
    
}

.titulo5{
    padding-bottom: 60px;
    font-size: 60px;
}

.div5 > img{
    width: 600px;
}

.imagemtelas{
    width: 500px;
}

.container6{
    text-align: center;
    padding-bottom: 100px;
}

.div6{
    text-align: center;
}

.logofooter{
    width: 120px;
    padding-bottom: 82px;
}

.linksc6{
    text-decoration: none;
    color: white;
    padding: 15px;
    font-size: 20px;
}

.footerend{
    text-align: center;
    padding: 30px 30px 30px 30px;
}

.pfooterend{
    padding: 12px;
    color: #C0C0C0;
    font-size: 15px;
}